/* @import "$HOME/.config/colors/colors.css" */
@import '../../.cache/wal/colors-waybar.css';

@keyframes glowing {
    0% {
        box-shadow: 0 0 5px @color4;
    }

    10% {
        box-shadow: 0 0 8px @color4;
    }

    20% {
        box-shadow: 0 0 11px @color4;
    }

    30% {
        box-shadow: 0 0 14px @color3;
    }

    40% {
        box-shadow: 0 0 17px @color3;
    }

    50% {
        box-shadow: 0 0 20px @color3;
    }

    60% {
        box-shadow: 0 0 23px @color3;
    }

    70% {
        box-shadow: 0 0 26px @color2;
    }

    80% {
        box-shadow: 0 0 29px @color2;
    }

    90% {
        box-shadow: 0 0 32px @color2;
    }

    100% {
        box-shadow: 0 0 35px @color2;
    }
}

* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font";
    transition: 20ms;
}

window {
    background: rgba(0, 0, 0, 0.3);
    font-size: 0px;
}

button {
    background: transparent;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 60px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 10s ease-in infinite;
}

button:hover {
    background-size: 40%;
    animation: glowing 1s infinite alternate;
    outline-style: none;
}

#lock {
    background-image: image(url("./icons/lock.png"));
}

#suspend {
    background-image: image(url("./icons/suspend.png"));
}

#shutdown {
    background-image: image(url("./icons/shutdown.png"));
}

#reboot {
    background-image: image(url("./icons/reboot.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}
