#monitors to be overriden manually
dot-config/user-*
dot-config/dconf
dot-config/dconf/*
dot-config/deluge
dot-config/vesktop
dot-config/wlogout/icons/

dot-config/easyeffects/db
dot-config/thefuck/__pycache__
dot-local/bin/Exiled-Exchange.AppImage
dot-local/bin/Bambu_Studio.AppImage
dot-config/antidote/zsh-plugins.zsh
dot-config/easyeffects/autoload
