@import '../../.cache/wal/colors-waybar.css';

* {
    padding: 0.1px 5px;
    border: none;
    border-radius: 0;
    font-family: "Mononoki Nerd Font";
    font-size: 18px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: @background 60%;
    opacity: 1.0;
    color: @foreground;
}

#workspaces button {
    padding: 0 5px;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    border-top: 2px solid @color1;
}

#custom-weather,
#clock,
#power-profiles-daemon,
#cpu,
#temperature,
#custom-media,
#battery,
#custom-audio,
#custom-power,
#mode,
#clock,
#battery,
#workspaces button,
#memory {
    padding: 0 3px;
    margin: 0 2px;
}

#battery icon {
    color: red;
}

#battery.charging {}

@keyframes blink {
    to {
        background-color: @color2;
        color: @color1;
    }
}

#battery.warning:not(.charging) {
    color: @color1;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background: @color1;
}
